@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal scrollbar styling */
*::-webkit-scrollbar {
    width: 1px; /* Scrollbar width */
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px; /* Rounded corners */
  }
  
  *::-webkit-scrollbar-track {
    background: #f0f0f0; /* Scrollbar track color */
  }
  